simple-math.tpl.asl.json
{
  "Comment": "Simple Math Step Functions",
  "StartAt": "Sum",
  "States": {
    "Sum": {
	  "Comment": "Simple Sum function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "$SUM_FUNCTION_ARN",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "Sub"
    },
    "Sub": {
	  "Comment": "Simple Substraction function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "$SUB_FUNCTION_ARN"
      },
      "Next": "Div"
    },
    "Div": {
	  "Comment": "Simple Devide function",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "$DIV_FUNCTION_ARN"
      },
      "End": true
    }
  }
}